<div class="header-container">
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['getData']">
        <div class="header-caption">get data</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['post']">
        <div class="header-caption">POST</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['restInService']">
        <div class="header-caption"><small>rest in service</small></div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['errors']">
        <div class="header-caption">errors</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['headers']">
        <div class="header-caption">headers, query params</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['interseptors']">
        <div class="header-caption">interseptors</div>
      </a>
    </div>
  </div>